<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<hr>
<div class="container bootstrap snippet">
    <div class="row">
  	   <div class="col-sm-3"><!--left col-->
      <div class="text-center">
          <%if current_user.profile_img==""%>
             <img src="https://img.clipartxtras.com/944b9ac21df9449ab73aa8a0ed2508dd_profile-clip-art-library-profile-clipart-images_1655-1655.png" height="100" width="100">
          <%else%>
            <img src="<%= current_user.profile_img %>" class="avatar img-circle img-thumbnail" alt="avatar">
        <%end%>
        <h6>Profile Image</h6>
      </div></hr><br>
          <div class="panel panel-default">
            <div class="panel-heading">Rating <i class="fa fa-link fa-1x"></i></div>
            <%if @myreview.total_rater_num!=0%>
            <div class="panel-body"><%=@myreview.ratings/@myreview.total_rater_num%>점</div>
            <%else%>
            <div class="panel-body">없음</div>
            <%end%>
          </div>
          
          
          <ul class="list-group">
            <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Shares</strong></span> 125</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Likes</strong></span> 13</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Posts</strong></span> 37</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Followers</strong></span> 78</li>
          </ul> 
               
          <div class="panel panel-default">
            <div class="panel-heading">Social Media</div>
            <div class="panel-body">
            	<i class="fa fa-facebook fa-2x"></i> <i class="fa fa-github fa-2x"></i> <i class="fa fa-twitter fa-2x"></i> <i class="fa fa-pinterest fa-2x"></i> <i class="fa fa-google-plus fa-2x"></i>
            </div>
          </div>
          
        </div><!--/col-3-->
    	<div class="col-sm-9">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">Profile</a></li>
                <li><a data-toggle="tab" href="#messages">Career</a></li>
                <% @friend.each do |x|%>
                     <% if x.friend_id == current_user.id%>
                       <%if x.pending ==false%>
                          <%_user=User.find(x.friend_id)%>
                          <%@count+=1%> <!--@count는 친구요청온 사람들 세는 변수-->
                         <%end%>
                     <%end%>
                <%end%>
                <%if @count==0%> 
                    <li><a data-toggle="tab" href="#friends">Partner</a></li>
                <%else%>
                    <li><a data-toggle="tab" href="#friends">Partner +<%=@count%></a></li>
                <%end%>
              </ul>

          <div class="tab-content">
            <div class="tab-pane active" id="home">
                <hr>
              <%= link_to "change", :edit_user_registration %>
              	
<!--              	<table class="table">-->
<!--    <thead>-->
      <!--진우야 안녕 진우야 고생했어-->
<!--      <tr> -->
<!--        <th>Username</th>-->
<!--        <th>Nickname</th>-->
<!--      </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--      <tr>-->
<!--        <td>-->
<!--          <%= current_user.name %></td>-->
<!--        <td><%= current_user.nickname %></td>-->
<!--      </tr>-->
<!--    </tbody>-->
<!--    <thead>-->
<!--      <tr>-->
<!--        <th>Phone</th>-->
<!--        <th>Email</th>-->
<!--      </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--      <tr>-->
<!--        <td><%= current_user.tel %></td>-->
<!--        <td><%= current_user.email %></td>-->
<!--      </tr>-->
<!--    </tbody>-->
<!--  </table>-->
<!--  <button class="btn btn-info" id="edit"><span class="glyphicon glyphicon-edit"></span> edit</button>-->
<!--  <button class="btn btn-success" id="save"><span class="glyphicon glyphicon-save"></span> save</button>-->
  
<!--   <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>-->
<!-- <script src="//code.jquery.com/jquery.js"></script>-->
<!--<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.js"></script>-->
<!--  <script>-->
<!--    $("#edit").click(function() {-->
<!--  $("#edit").hide();-->
<!--  $("td").each(function() {-->
<!--    var content = $(this).html();-->
<!--    $(this).html("<textarea>" + content + "</textarea>");-->
<!--  });-->

<!--  $("#save").show();-->
<!--  $(".info").fadeIn("fast");-->
<!--});-->

<!--$("#save").click(function() {-->
<!--  $("#save, .info").hide();-->
<!--  $("textarea").each(function() {-->
    var content = $(this).val(); //.replace(/\n/g,"<br>");
<!--    $(this).html(content);-->
<!--    $(this)-->
<!--      .contents()-->
<!--      .unwrap();-->
<!--  });-->

<!--  $("#edit").show();-->
<!--});-->
<!--  </script>-->
  
  <table class="table">
    <tbody>
      <tr>
        <td><te><%= current_user.name %></br>
        <td><%= current_user.nickname %></td>
        <%= current_user.email %></te></td>
      </tr>
    </tbody>

  </table>
  <button class="btn btn-info" id="edit4"><span class="glyphicon glyphicon-edit"></span> edit</button>
  <button class="btn btn-success" id="save4"><span class="glyphicon glyphicon-save"></span> save</button>
  
   <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
 <script src="//code.jquery.com/jquery.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.js"></script>
  <script>
    
$("#edit4").click(function() {
  $("#edit4").hide();
  $("te").each(function() {
    var content = $(this).html();
    $(this).html("<textarea>" + content + "</textarea>");
  });

  $("#save4").show();
  $(".info4").fadeIn("fast");
});

$("#save4").click(function() {
  $("#save4, .info").hide();
  $("textarea").each(function() {
    var content = $(this).val(); //.replace(/\n/g,"<br>");
    $(this).html(content);
    $(this)
      .contents()
      .unwrap();
  });

  $("#edit4").show();
});
  </script>
  
              
              <hr>
              
             </div><!--/tab-pane-->
             <div class="tab-pane" id="messages">
               
               <h2></h2>
               
               <hr>
                  <form class="form" action="##" method="post" id="registrationForm">
                      <div class="form-group">
                          <div class="col-xs-6">
                              <label for="first_name"><h4>Category</h4></label><br>
                              <%= @fjob.category%>
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                            <label for="last_name"><h4>Contract</h4></label><br>
                              <%= @fjob.contract%> month
                          </div>
                      </div>
          
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="phone"><h4>Date</h4></label><br>
                              <%= @fjob.date%>
                          </div>
                      </div>
          
                      <div class="form-group">
                          <div class="col-xs-6">
                             <label for="mobile"><h4>Time</h4></label><br>
                              <%= @fjob.starttime%> ~ <%=@fjob.endtime%>  == Total <%=@fjob.timetotal%> hours
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="email"><h4>Environment</h4></label><br>
                              <%if @fjob.home_environment==true%>
                                 재택근무
                              <%else%>
                                출근 <%=@fjob.location%>
                               <%end%>
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="email"><h4>Career</h4></label><br>
                             <%= @fjob.career%>
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="password"><h4>Portfolio Image</h4></label><br>
                              <%if @fjob.portfolio_img==""%>
                              No Image <br>
                              <%else%>
                              <img height="100%" width="100%" src="<%= @fjob.portfolio_img%>"> <br>
                              <%end%>
                          </div>
                      </div>
                     
                      <div class="form-group">
                           <div class="col-xs-12">
                                <br>
                              	<a href ="/fjob/edit/<%=@fjob.id%>">
                                <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i>  Edit</button>
                                </a>
                            </div>
                      </div>
              	</form>
              	
              	<form action="/fjob/update/<%=@fjob.id%>" method "get" >
        
    <!--포트폴리오 사진 url -->
      portfolio_img url:<br>
    <input type="text" name="fjob_portfolio_img" value = "<%=@fjob.portfolio_img%>"><br>
    
     <!--직군-->
    category:<br>
    <input type="checkbox" name="fjob_category" value ="creator"> Creator
    <input type="checkbox" name="fjob_category" value ="editor"> Editor
    <input type="checkbox" name="fjob_category" value ="designer"> designer
    <input type="checkbox" name="fjob_category" value ="producer"> producer
    <input type="checkbox" name="fjob_category" value ="translator"> translator
    <input type="checkbox" name="fjob_category" value ="assistant"> assistant
    <input type="checkbox" name="fjob_category" value ="writer"> writer<br>
    
    <!--경력 -->
    career: <br>
    <input type="text" name = "fjob_career" value="<%=@fjob.career%>"><br>

   
   <!--계약기간 -->
    contract: <br>
     <input type="number" name ="fjob_contract"  value="<%=@fjob.contract%>">개월<br>
    
   
    <!--근무 시간 -->
    <!--요일-->
    date: <br>
    <input type="checkbox" name="fjob_date" value ="monday"> 월요일
    <input type="checkbox" name="fjob_date" value ="tuesday"> 화요일
    <input type="checkbox" name="fjob_date" value ="wednesday"> 수요일
    <input type="checkbox" name="fjob_date" value ="thursday"> 목요일
    <input type="checkbox" name="fjob_date" value ="friday"> 금요일
    <input type="checkbox" name="fjob_date" value ="saturday"> 토요일
     <input type="checkbox" name="fjob_date" value ="sunday"> 일요일
    <br>
     <!--시간-->
    
     time: <br>
    start time:
      <input type="number" name = "fjob_starttime" value="<%=@fjob.starttime%>" min="0" max="24">
    end time:
     <input type="number" name ="fjob_endtime" value="<%=@fjob.endtime%>" min="0" max="24">
    <br>
    total time:
    <input type="number" name ="fjob_timetotal" value="<%=@fjob.timetotal%>" min="0" max="24"> 시간
    
    <br>
     <!--근무환경-->
      <!--재택근무여부-->
      home_environment: <br>
    <input type="radio" name="fjob_home_environment" value="true" > 재택근무<br>
    <input type="radio" name="fjob_home_environment" value="false" >출근<br>
  <button type="submit" class="btn btn-primary">제출</button>
</form>
               
             </div><!--/tab-pane-->
        
     <div class="tab-pane" id="friends">
             </hr>
             
               <hr>
                <div class="form-group">
                <label for="password"><h4><strong>Partner Request</strong></h4></label><br>
                
               <% @friend.each do |x|%>
                     <% if x.friend_id == current_user.id%>
                       <%if x.pending ==false%>
                          <%_user=User.find(x.friend_id)%>
                         <a href="/profile/<%=_user.id%>"><%=_user.name%></a>
                        <button onclick="<%x.pending =1 %>">accept</button>
                        <%x.save%>
                      <%end%>
                    <%end%>
              <%end%>
               </div>
                <label for="password"><h4><strong>My Partners</strong></h4></label><br>
                      <div class="form-group">
                        <% @friend.each do |x|%>
                            <%if x.pending ==true%>
                             <% if x.friend_id == current_user.id%> <!--내가 요청 받아서 친구된 케이스-->
                                    <%@f_fjob=Fjob.find(x.user_id)%>
                                    <%@f_user=User.find(x.user_id)%>
                                    <%@edit_review=Review.find(x.user_id)%>
                                <div class="col-xs-6">
                                    <label for="password"><h4>Profile Image</h4></label><br>
                                    <img height="100%" width="100%" src="<%= @f_user.profile_img%>"> <br>
                                 </div>
                              <div class="col-xs-6">
                                  <label for="first_name"><h4>Name</h4></label><br>
                                  <a href="/fjob/profile/<%=@f_user.id%>"><%= @f_user.name%></a>
                                </div>
                          </div>
                      <div class="form-group">
                            <div class="col-xs-6">
                            <label for="last_name"><h4>Category</h4></label><br>
                              <%= @f_fjob.category%> 
                              <%if @f_user.nil?%>
                              <%else%>
                              <br>
                            <label for="last_name"><h4>Review</h4></label><br>
                            <form action="/review/update/<%=@f_user.id%>" method "get" >
                                Ratings:
                                <div class="ui star rating" data-rating="3" id="wansik"></div>
                                <input type="integer" name="n_ratings" value="<%=@edit_review.ratings%>"> <br>
                                <input type="hidden" name="n_rater_id" value="<%=current_user.id%>">
                                <input type="hidden" name="n_subject_id" value ="<%=@f_user.id%>">
                                Review_text:
                                <input type="text" name="n_rtext" value="<%=@edit_review.review_text%>"> <br>
                                <button type="submit" class="btn btn-primary">제출</button>
                            </form>
                            <%end%>
                             <%elsif x.user_id == current_user.id%> <!--내가 먼저 요청해서 친구된 케이스-->
                                <%@f_fjob=Fjob.find(x.friend_id)%>  
                                <%@f_user=User.find(x.friend_id)%>
                                <%@edit_review=Review.find(x.friend_id)%>
                                 <label for="password"><h4>Profile Image</h4></label><br>
                                    <img height="100%" width="100%" src="<%= @f_user.profile_img%>"> <br>
                              <div class="col-xs-6">
                                  <label for="first_name"><h4>Name</h4></label><br>
                                  <a href="/fjob/profile/<%=@f_user.id%>"><%= @f_user.name%></a>
                                </div>
                          </div>
                      <div class="form-group">
                            <div class="col-xs-6">
                            <label for="last_name"><h4>Category</h4></label><br>
                              <%= @f_fjob.category%> 
                              <br>
                             
                              <label for="last_name"><h4>Review</h4></label><br>
                            <form action="/review/update/<%=@f_user.id%>" method "get" >
                                Ratings:
                                 <div class="ui star rating" data-rating="3" id="wansik"></div>
                                <input type="integer" name="n_ratings" value="<%=@edit_review.ratings%>" >
                                 <br>
                                <input type="hidden" name="n_rater_id" value="<%=current_user.id%>">
                                <input type="hidden" name="n_subject_id" value ="<%=@f_user.id%>">
                                Review_text:
                                <input type="text" name="n_rtext" value="<%=@edit_review.review_text%>"> <br>
                                <button type="submit" class="btn btn-primary">제출</button>
                            </form>
                                <%else%>
                              <%end%>
                            <%end%>
                          <%end%>
                          </div>
                      </div>
                     </div>
             </div><!--/tab-pane-->
              </div><!--/tab-pane-->
          </div><!--/tab-content-->
        </div><!--/col-9-->
    </div><!--/row-->
</body>


<script>
$("#wansik").ready(function(){
    $('.ui.rating').rating('enable')

})

</script>
