<!DOCTYPE html>
<html>
	
<head>
</head>

<body>

<!-- popup contents -->

<!--sign in popup-->
<div class="ui login mini modal">
  <i class="close icon"></i>
  <%= render "devise/sessions/new" %>
</div>

<!--sign up popup-->	
<div class="ui signup mini modal">
	<i class="close icon"></i>
	<%= render "devise/registrations/new" %>
</div>

<!--my page popup -->
<div class="ui longer modal">

	<div class="header">
		Hi, I'm <%= current_user.nickname %>
	</div>
	
	<div class="scrolling image content">
		
		<div class="ui medium image">
				<img src="../assets/nan.jpg">
		</div>
	
	  <div class="fluid description">	
			<div class="ui mini top attached tabular menu">
	  		<a class="item active" data-tab="first">User Information</a>
				<a class="item" data-tab="second">Job Information</a>
				<a class="item" data-tab="third">Partnership</a>
			</div>
				
			<div class="ui bottom attached tab segment" data-tab="first">
				<%= render "devise/registrations/edit" %>
			</div>
	
			<div class="ui bottom attached tab segment" data-tab="second">
			</div>
			
			<div class="ui bottom attached tab segment" data-tab="third">
			</div>
		</div>
	
	</div>
	
	<div class="actions">
    <div class="ui primary approve button">
        Proceed
        <i class="right chevron icon"></i>
    </div>
  </div>
    
</div>



			<%if false%> <!--여기서부터 주석 시작-->

      <div class="ui medium image">
        <i mg src="/assets/nan.jpg">
      </div>

      
     
      <%if current_user.profile_img==""%>
            <img class="ui Huge centered rounded image" src="assets/nan.jpg">
      <%else%>
            <img src="<%= current_user.profile_img %>" class="ui Huge centered rounded image">
      <%end%>
     
				
        
        <h3>카테고리</h3>
        <p><%= @fjob.category%></p>
        <h3>계약기간</h3>
        <p><%= @fjob.contract%></p><p>달</p>
        <h3>일</h3>
        <p><%= @fjob.date%></p><p>일</p>
        <h3>시간</h3>
        <p><%= @fjob.starttime%> ~ <%=@fjob.endtime%>  == Total <%=@fjob.timetotal%></p><p>시간</p>
        <h3>작업환경</h3>
            <div>
                <%if @fjob.home_environment==true%>
                    <p>재택근무</p>
                <%else%>
                    <p>출근</p><p>지역 : <%=@fjob.location%></p>
                <%end%>
            </div>
          <%end%> <!-- 여기까지 주석 끝-->
        
        
        </div>
  </div>
</div>






<%= yield %>


<!--jQuery CDN-->
<script
	src="https://code.jquery.com/jquery-3.1.1.min.js"
	integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
	crossorigin="anonymous">
</script>	

	
<!--fullpage javascript-->
<script src="assets/javascript.fullPage.js"></script>

	
<!--sementic UI-->			
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>


<script type="text/javascript">
	
	//fullpage javascript
	fullpage.initialize('#fullpage', {
		anchors: ['firstPage', 'secondPage', '3rdPage', '4thpage', 'lastPage'],
		menu: '#menu',
		css3:true
	});

	//navbar popup_semantic-UI
	$("#category_popup").click(function(){
  	$(".ui.tiny.category.modal").modal('show');});
	

  //sign-in popup
	$("#login_popup").click(function(){
 	$(".ui.mini.login.modal").modal('show');});
 	
 	//sign-up popup
	$("#signup_popup").click(function(){
 	$(".ui.mini.signup.modal").modal('show');});
	
	//maypage popup
	$("#mypage_popup").click(function(){
    $('.ui.longer.modal')
        .modal('show')
    ;
	});
	
	$('.menu .item')
  .tab()
	;

	
	
	//login error_semantic-UI
	  $(document)
	    .ready(function() {
	      $('.ui.form')
	        .form({
	          fields: {
	            email: {
	              identifier  : 'email',
	              rules: [
	                {
	                  type   : 'empty',
	                  prompt : 'Please enter your e-mail'
	                },
	                {
	                  type   : 'email',
	                  prompt : 'Please enter a valid e-mail'
	                }
	              ]
	            },
	            password: {
	              identifier  : 'password',
	              rules: [
	                {
	                  type   : 'empty',
	                  prompt : 'Please enter your password'
	                },
	                {
	                  type   : 'length[6]',
	                  prompt : 'Your password must be at least 6 characters'
	                }
	              ]
	            }
	          }
	        })
	      ;
	    })
	  ;
  
	//section1_checkboxes are checked all
	//category checked all
	$('#category-check-all').click(function(event) {   
    if(this.checked) {
        // Iterate each checkbox
        $('input[class=category_checkbox]').each(function() {
            this.checked = true;                        
        });
    } else {
        $('input[class=category_checkbox]').each(function() {
            this.checked = false;                       
        });
    }
	});
	
	//day checked all
	$('#day-check-all').click(function(event) {   
    if(this.checked) {
        // Iterate each checkbox
        $('input[class=day_checkbox]').each(function() {
            this.checked = true;                        
        });
    } else {
        $('input[class=day_checkbox]').each(function() {
            this.checked = false;                       
        });
    }
	});
	
	//workat checked all
	$('#workat-check-all').click(function(event) {   
    if(this.checked) {
        // Iterate each checkbox
        $('input[class=workat_checkbox]').each(function() {
            this.checked = true;                        
        });
    } else {
        $('input[class=workat_checkbox]').each(function() {
            this.checked = false;                       
        });
    }
	});
	

	
</script>

</body>
</html>
